.race-new-all{
  padding: 30px 50px;
}

.race-new-title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.even-race-content{
  margin-bottom: 50px;
}

.race-url{
  width: 400px;
}

.even-race-form{
  padding: 10px 0;
}