<div class="user-new-top">
<%= link_to '戻る',root_path,class:'survey-return-btn'%>
</div>

<div class= "horse-index">

<div class="enter-horse-new">
  <%= link_to '馬の登録',new_horse_path %>
</div>

<div class="enter-horse-new">
  <%= link_to 'レースの登録',new_race_path%>
</div>

<div class="enter-horse-new">
  <%= link_to '開催予定レースの登録',new_plan_path%>
</div>

</div>
