<%= render 'shared/header'%>

  <div class="main">
    <div class="user-main">
      <div class="profile-img">
        <img src="典弘.jpg" alt="No image" class="prf-img">
      </div>
      <div class="user-profile">
        <div class="user-profile-top">
        <div class="user-name"><a href="#" class="name"><b>norihiro.yokoyama</b></a></div>
        <div class="user-edit"><a href="#">プロフィールを編集</a> </div>
      </div>
        <div class="user-info">投稿数 170 件</div>
        <div class="user-profile">ノリで〜す。<br>
          52ちゃい<br>
          G1 27勝の天才ジョッキーだよ
        </div>
      </div>
   </div>

   <div class="uma-main">
    <div class="uma-contents-top">
      <div class="uma-title">umastagram
      </div>
    </div>
  </div>

   <div class="user-post-main">
     <div class="post-all"></div>
     <div class="posts">
       <div class="post">
         <img src="ダノンキングリー.png" class="post-img">
       </div>
       <div class="post">
        <img src="ダノンキングリー.png" class="post-img">
      </div>
      <div class="post">
        <img src="ダノンキングリー.png" class="post-img">
      </div>
      <div class="post">
        <img src="ダノンキングリー.png" class="post-img">
     </div>
   </div>
  </div>
</footer>