<%= render "shared/header" %>

<div class="survey-main">
  
  <div class="survey-main-title">アンケート一覧</div>
  <div class="survey-new">
  <%= link_to "アンケート作成",new_survey_path%>
  </div>
  
    <div class="survey-contents">
     
      <div class="survey-content">
        菊花賞勝つのは？
      </div>

      <div class="survey-content">
        秋華賞勝つのは？
      </div>

    </div>
  
</div>