<%= render "shared/header" %>
<%= link_to '戻る',root_path,class:'return-btn'%>


<div class="survey-main">
  
  <div class="survey-main-title">アンケート一覧</div>
  <div class="survey-new">
  <%= link_to "アンケート作成",new_survey_path,class:'survey-new-btn'%>
  </div>
  
    <div class="survey-contents">
       <% @surveys.each do |survey| %>

      <div class="survey-content">
        <%= link_to survey.title,survey_path(survey),class:'survey-title' %>
      </div>
      <% end %>

    </div>
  
</div>