.user-new-top{
  padding: 10px 10px;
}

.horse-title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.horse-index-all{
  display: flex;
}

.horse-index-main{
  padding: 30px 50px;
}

.user-new-forms{
  display: flex;
  flex-direction: column;
}

.horse-name{
  width: 200px;
}
/* 馬性選択フォーム------------ */
.horse-gender-select,.horse-age-select{
  width: 100px;
  height: 30px;
}

.input-horse-btn{
  padding-top: 20px;
}

.send-judge{
  width: 200px;
  padding: 20px 20px;
}

.notice{
  background-color: blue;
}

.alert{
  background-color: red;
}