.horse_tab_wrap{width:40vw; margin:30px auto;}
input[type="radio"]{display:none;}
.horse_tab_area{font-size:0; margin:0 10px;}
.horse_tab_area label{width:100px; margin:0 5px; display:inline-block; padding:12px 0; color:#999; background:#ddd; text-align:center; font-size:20px; cursor:pointer; transition:ease 0.2s opacity;}
.horse_tab_area label:hover{opacity:0.5;}
.horse_panel_area{height:300px;background: #f5f5f5;}
.horse_tab_panel{width:100%; padding:20px 0; display:none; text-align: center;font-size: 15px;}
.horse_tab_panel p{font-size:14px; letter-spacing:1px; text-align:center;}

#horse_tab1:checked ~ .horse_tab_area .horse_tab1_label{background:#fff; color:#000;}
#horse_tab1:checked ~ .horse_panel_area #horse_panel1{display:block;}
#horse_tab2:checked ~ .horse_tab_area .horse_tab2_label{background:#fff; color:#000;}
#horse_tab2:checked ~ .horse_panel_area #horse_panel2{display:block;}
#horse_tab3:checked ~ .horse_tab_area .horse_tab3_label{background:#fff; color:#000;}
#horse_tab3:checked ~ .horse_panel_area #horse_panel3{display:block;}
#horse_tab4:checked ~ .horse_tab_area .horse_tab4_label{background:#fff; color:#000;}
#horse_tab4:checked ~ .horse_panel_area #horse_panel4{display:block;}
  
.horse-show-title{
  text-align: center;
  font-size: 40px;
  width: 800px;
margin: 0 auto;
  background:linear-gradient(transparent 70%, orange 0%);
}

.horse-show-race{
  margin: 30px auto;
  font-size: 20px;
  width: 400px;
  text-align: center;

}


.horse-show-title2{
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  margin-top: 20px;
}

.horse-show-contents{
  display: flex;
  padding: 0 30px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.horse-show-content{
  object-fit: contain;
  width: 45vw;
 border: solid 1px black;
 margin-bottom: 20px;
 padding: 10px 30px;
}

.horse-show-info{
  display: flex;
  justify-content: space-around;
padding: 0 30px;}

.horse-show-pace{
  text-align: center;
}

.horse-show-header{
  display: flex;
 align-items: center;
}

.horse-show-comment{
  margin-left: 350px;
  font-size: 30px;
  width: 300px;
}

#horse-show-commentbox{
  display: none;
  margin: 10px auto;
  width: 40vw;
  padding: 20px 20px;
  border: solid 1px black;
}