/* タイトルと検索欄部分-------------- */
.uma-main{
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  align-items: center;
  margin-bottom: 50px;
}

.new-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 3px skyblue;
}

.uma-top-top{
  display: flex;
}

.uma-top{
  display: flex;
    padding: 0 60px 0;
    border: 3px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    margin: 0 auto;
    width: 50vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

.uma-title{
  font-family: 'Brush Script MT',sans-serif;
  font-family: 'Brush Script MT',sans-serif;
  width: 20vw;
  font-size: 70px;
}

.search-btn{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search-btn input[type="text"]{
  border: none;
  height: 2.0em;
}
.search-btn input[type="text"]:focus {
  outline: 0;
}
.search-btn input[type="submit"]{
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.new-post{
  margin-left: 30px;
}

/* 投稿された画像部分------------------ */
/* .uma-content-main{
  display: flex;
  width: 40vw;
} */

.uma-content-top{
  border: solid 1px lightgray;
}

.uma-content-main{
  width: 40vw;
  border: solid 1px lightgray;
}

.post-user-name{
  padding: 5px;
  font-weight: bold;
}

.content-image{
  width: 100%;
  object-fit: contain;
}


.ume-comment{
  padding: 10px;
}

.content-text{
  margin-left: 20px;
}

.ume-comment-details{
  text-align: center;
  color: lightgray;
  font-size: small;
}

