/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.back-show-btn{
  width: 100px;
  font-size: 20px;
  padding: 5px;
  background-color: gray;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}


.or-text {
  font-size: 20px;
}

/* 編集、削除ボタンの部分------------ */

.edit-box{
  display: flex;
  margin-top: 20px;
}

.edit-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  padding: 5px 20px;
}


.destroy-btn {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  padding: 5px 20px;
  margin-left: 20px;
  border-style: none;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.item-explain-box{
  height: 100px;
  margin: 20px 0 20px;
  width: 50vw;
}

.comment-all{
  display: flex;
  background-color:#FFF;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 20px;
}

.comment-all > h1 {
  text-align: center;
  font-weight: bold;
}
.comment-user-name{
  width: 100px;
}

.comment-one{
  display: flex;
  margin-bottom: 10px;
}